root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
indent_size = 4
indent_style = tab
ij_javascript_force_semicolon_style = true
ij_javascript_enforce_trailing_comma = whenmultiline

[*.{css,scss}]
indent_size = 4
indent_style = tab
