.container {
	position: relative;

	z-index: $layout-z-foreground - 5;
}

.skyline {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;

	overflow-x: hidden;

	> div {
		// This is a container that we can use for alignment.
		flex: 1 1 auto;
	}

	svg {
		min-width: 100%;
		width: auto;
		min-height: 100px;
	}

	// Change the stroke width between 1.5px and roughly 2px, depending on viewport width (0-1000px).
	--footer-graphics-skyline-stroke-width: calc(1.5px + min(1000px, 100vw) / 1500);
}

.mountains {
	position: relative;
	overflow: hidden;
	height: calc(max(20vw, 100px));

	.leftParallax {
		position: absolute;

		width: calc(max(50vw, 500px));
		left: 0;
		bottom: 0;
	}

	.rightParallax {
		position: absolute;
		width: 70vw;
		float: right;

		bottom: 0;
		right: 0;
	}
}
