.photo {
	border-radius: 7px;
	overflow: hidden;
}

.container {
	aspect-ratio: 75 / var(--photo-height, 100px);
	width: 100%;
}

.photo {
	&,
	picture,
	img {
		display: block;

		min-height: unset;
		width: 100%;
		aspect-ratio: 75 / var(--photo-height, 100px);
	}
}

.active {
	box-shadow: var(--accent-alt) 0px 0px 5px 2px;
}
