.component {
	position: relative;
	--box-padding-v: var(--size-smaller);
	--box-padding-h: var(--size-large);
}

.label {
	padding: var(--size-smaller-2) var(--size-small);
	font-size: 0.9em;
	white-space: nowrap;
}
