.container {
	--v-margin: var(--size-larger);
}

.section.graphics {
	display: flex;
	flex-direction: row-reverse;
	gap: var(--size-larger);

	margin: var(--v-margin) 0;

	align-items: center;
	justify-content: center;

	@include for-tablet {
		gap: var(--size-large);
	}

	@include for-mobile {
		flex-direction: column;
		margin-top: var(--size-larger);
	}
}

.themeGraphic {
	flex: 5 1 auto;
	margin: 0;

	svg {
		min-width: 100px;
		min-height: auto;
	}

	@include for-tablet {
		// Limit the width on tablet.
		width: 1vw;
		max-width: 200px;
	}

	@include for-mobile {
		// scale the width on mobile.
		margin: auto;
		width: 50vw;
		max-width: unset;
	}
}

// The box containing the date/time and StormHacks logo.
.logoBox {
	flex: 0 0 auto;
	position: relative;
	font-size: 12pt;

	// Define clipping regions for the logo.
	$clip-left: 2%;
	$clip-left-where-text: 27%;
	$clip-top: 15%;
	$clip-bottom: 67%;
	$mobile-clip: 12pt;

	// Logo and its clipping box.
	.logo,
	.logoClipBox {
		// Only use as much space as needed.
		display: inline-block;
	}

	.logo > span,
	.logoSubtitle {
		white-space: nowrap;
		text-transform: uppercase;
	}

	.logoClipBox {
		clip-path: polygon(
			$clip-left $clip-top,
			100% $clip-top,
			100% $clip-bottom,
			$clip-left-where-text $clip-bottom,
			$clip-left-where-text 100%,
			$clip-left 100%
		);

		// Clip in a square for mobile.
		@include for-mobile {
			text-align: center;
			clip-path: inset(0 $mobile-clip $mobile-clip $mobile-clip);
		}
	}

	// "StormHacks"
	.logo {
		display: inline-flex;

		font-size: 4.55em;

		font-family: "Redaction";
		font-weight: bold;

		color: var(--logo-color);

		@include for-mobile {
			flex-direction: column;
			line-height: 0.8em;
		}
	}

	// "Play your hand forward"
	.logoSubtitle {
		font-size: 1.7em;
		color: var(--logo-subtitle);

		// Place the text over the logo.
		position: relative;
		padding-left: $clip-left;
		top: -1em;
		right: 0;
		bottom: 0;

		// Align the line and text.
		display: flex;
		align-items: center;

		// Remove the line and make it consume the full width on mobile.
		@include for-mobile {
			top: -10pt;
			padding: 0;
			font-size: 1.135em;

			.logoSubtitleText {
				text-align: center;
				flex: 1 0 auto;
			}

			.logoSubtitleLine {
				display: none;
			}
		}
	}

	.logoSubtitleText {
		font-family: "Redaction";
		font-weight: normal;
		text-align: right;

		margin: 0 0.2em;
	}

	.logoSubtitleLine {
		height: 1px;
		flex: 1 10 auto;
		background: currentColor;

		margin-right: 0.2em;
	}

	// "May 20-21" ...
	.logoPlace {
		position: relative;
		bottom: -0.5em;
		padding: 0 $clip-left;
		font-family: "Redaction";

		.eventType,
		.eventLocation {
			font-style: italic;
		}

		@include for-mobile {
			font-size: 0.67em;
			bottom: 0.2em;
		}
	}

	// Change size on tablet.
	@include for-tablet {
		font-size: 1.7vw;
	}

	// Change padding on mobile.
	@include for-mobile {
		font-size: 4.7vw;
		text-align: center;

		.logoSubtitle,
		.aboutPlace {
			padding: 0 12pt;
		}
	}
}

.applyForms {
	position: relative;
	top: calc(var(--v-margin) * -1.5);
	left: 12px;

	.applyFormsButtons {
		display: flex;
		gap: var(--size-small);
	}

	.applyFormsLinks {
		margin-top: var(--size-small);
		font-size: 0.84em;
	}

	@include for-tablet {
		top: calc(max(-60px, var(--v-margin) * -1.5));
		left: 1.2vw;
	}

	@include for-mobile {
		text-align: center;
		left: 0;

		--button-padding: var(--size-medium);
		padding: var(--size-larger-2);
		padding-top: var(--size-larger);

		.applyFormsButtons {
			flex-direction: column;
		}

		.applyFormsLinks {
			margin-top: var(--size-larger);
			font-size: 1em;
		}
	}

	.applyButtonClosed {
		cursor: not-allowed;
	}
}

.section.stats {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: var(--size-larger-2);
	font-size: 1.2em;

	// Adjust colors, padding, and positions of the stats boxes.
	.lastYear .statsBox {
		--box-background: var(--statsbox-lastyear-background);
		--box-border: var(--statsbox-lastyear-border);
		--box-text: var(--statsbox-lastyear-text);

		box-shadow: var(--statsbox-lastyear-border) 0px 0px 80px;
		--box-padding-h: var(--size-larger);
	}

	.thisYear .statsBox {
		--box-background: linear-gradient(133.14deg, rgba(33, 41, 115, 0.5) 3.72%, rgba(64, 10, 65, 0.5) 74.19%);
		--box-border: var(--statsbox-thisyear-border);
		--box-text: var(--statsbox-thisyear-text);

		position: relative;
		left: calc(var(--size-medium) * -1);
		--box-padding-h: var(--size-large);
	}

	// Override label colors.
	.statsBoxLabel {
		--box-label-background: var(--statsbox-label-background);
		--box-label-text: var(--statsbox-label-text);
		--box-label-border: var(--statsbox-label-border);

		text-transform: uppercase;
		font-family: "Roboto Mono";
		font-weight: 500;
		font-size: 0.75em;
	}

	@include for-mobile {
		font-size: 0.95em;

		// Move slightly upwards and add a separator.
		top: calc(var(--size-large) * -1);
		border-top: var(--separator) 1px solid;

		// Reposition the boxes to stack vertically.
		flex-direction: column;

		.lastYear .statsBox {
			left: unset;
		}

		.thisYear .statsBox {
			left: 50%;
		}

		// Move the label to the center.
		.thisYear .statsBox .statsBoxLabel {
			right: unset !important;
			left: 50% !important;
			transform: translate(-50%, -50%);
		}
	}
}
