.page {
	overflow: hidden;
}

.container {
	text-align: center;
}

.section.about {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--size-larger-2);

	> * {
		// Stacking.
		// https://stackoverflow.com/a/50086485
		// This is pretty awesome.
		grid-row-start: 1;
		grid-column-start: 1;
	}

	.graphic {
		font-size: 0;
		.blurred {
			filter: blur(10px);
			margin-top: -100%;
		}
	}

	.description {
		z-index: $layout-z-foreground;
		text-shadow: var(--aboutsurge-text-shadow) 0px 1px 10px;

		padding: var(--size-larger);
		margin: var(--size-larger);

		background: radial-gradient(
			closest-side,
			var(--aboutsurge-background-gradient-start) 50%,
			var(--aboutsurge-background-gradient-end)
		);

		@include for-mobile {
			background: radial-gradient(
				closest-side,
				var(--aboutsurge-background-gradient-start-mobile) 80%,
				var(--aboutsurge-background-gradient-end)
			);
		}
	}

	.otterLeft,
	.otterRight {
		position: absolute;
		bottom: 10%;
	}

	.otterLeft {
		left: 0;
		transform: translateX(-25%);
	}

	.otterRight {
		right: 0;
		transform: translateX(30%);
	}
}

.section.execs {
	.exec {
		will-change: opacity, box-shadow;
		transition: opacity ease var(--animation-slow);
	}
	.unselectedExec {
		opacity: 0.5;
	}

	.execInfo {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 4em;

		font-weight: normal;

		.execInfoDecoration {
			color: var(--accent-alt);
			opacity: 0.5;
			margin: 0 var(--size-smaller-2);
			font-weight: bold;
		}
	}
}

.execGridContainer {
	> .execGrid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

		justify-content: stretch;

		margin: auto;
		gap: var(--size-smaller);
	}
}
