.container {
	text-align: center;
}

.section.about {
}

.section.execs {
}

.execGridContainer {
	> .execGrid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

		justify-content: stretch;

		margin: auto;
		gap: var(--size-smaller);
	}
}
