.header {
	text-transform: uppercase;
	margin-top: 1em;

	h1 {
		margin: 0;

		@include font-heading;
		font-size: 3.5em;
		font-weight: normal;
		line-height: 100%;

		@include for-mobile {
			font-size: 9vw;
		}
	}

	h2 {
		margin: 0;

		font-size: 1em;
		font-style: italic;
		font-weight: normal;
		opacity: 0.6;

		@include for-mobile {
			font-size: 0.8em;
		}
	}
}

.main {
	margin-top: 2em;
	font-size: 1.2em;

	max-width: 400px;
	margin-left: auto;

	@include for-mobile {
		margin-top: 1.5em;

		width: auto;
		margin-left: unset;
	}
}

.archiveLink {
	font-size: 0.8em;

	margin-top: 1em;
	text-transform: uppercase;
}
