@use "sass:math";

.container {
	display: flex;
	flex-direction: column;

	text-align: center;
	@include for-mobile {
		text-align: left;
	}

	h1 {
		margin-bottom: 0.5em;
	}
}

.section.sponsorUs {
	p.whySponsorUs {
		margin: auto;
		padding: 0 var(--size-larger-2);
		max-width: 45em;

		@include for-mobile {
			padding: 0;
		}
	}

	.benefits {
		--card-graphic-width: 65px;

		margin: var(--size-larger) 0;
		text-align: center;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: var(--size-large);

		h2 {
			grid-row: 2;

			text-transform: uppercase;
			margin-bottom: 0.4em;
			font-size: 1.1em;
		}

		p {
			grid-row: 3;

			margin: 0;
			font-size: 0.95em;

			strong {
				font-weight: 600;
			}
		}

		.benefitsGraphic {
			grid-row: 1;

			display: flex;
			justify-content: center;
			margin-bottom: var(--size-small);

			> svg {
				width: var(--card-graphic-width);
			}
		}

		@include for-mobile {
			grid-template-columns: var(--card-graphic-width) 1fr;

			h2,
			.benefitsGraphic {
				margin-top: var(--size-larger-2);
			}

			h2 {
				grid-column: 2;
				grid-row: unset;

				font-size: 1em;
				letter-spacing: normal;
			}

			p {
				grid-column: 2;
				grid-row: unset;
				justify-self: center;

				font-size: 0.9em;
				max-width: 350px;
			}

			.benefitsGraphic {
				grid-row: span 2;
				align-self: center;

				margin-bottom: 0;
			}

			margin: auto;
		}
	}
}

.sponsorButton {
	font-weight: bold;
	align-self: center;
	text-align: center;

	padding: var(--size-smaller) var(--size-large);

	@include for-mobile {
		margin: var(--size-larger) auto;
		width: calc(max(200px, 60%));
	}
}

.section.sponsors {
	color: var(--sponsor-logo);
	h2 {
		margin: var(--size-larger) 0 var(--size-small) 0;
		color: var(--accent);
		text-transform: uppercase;
		font-size: 1em;
		font-weight: bold;
		text-align: left;
	}
}
