@use "sass:math";

.container {
	display: flex;
	flex-direction: column;

	text-align: center;
	@include for-mobile {
		text-align: left;
	}

	h1 {
		margin-bottom: 0.5em;
	}
}

.section.sponsorUs {
	p.whySponsorUs {
		margin: auto;
		padding: 0 var(--size-larger-2);
		margin-bottom: var(--size-medium);
		max-width: 45em;

		@include for-mobile {
			padding: 0;
		}
	}
}

.section.sponsorBenefits {
	--card-graphic-width: 65px;

	margin: var(--size-larger) 0;
	margin-top: var(--size-larger-2);
	text-align: center;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: var(--size-large);

	h2 {
		grid-row: 2;

		text-transform: uppercase;
		margin-bottom: 0.4em;
	}

	p {
		grid-row: 3;

		margin: 0;
		font-size: 0.95em;

		strong {
			font-weight: 600;
		}
	}

	.benefitsGraphic {
		grid-row: 1;

		display: flex;
		justify-content: center;
		margin-bottom: var(--size-small);

		> svg {
			width: var(--card-graphic-width);
		}
	}

	@include for-mobile {
		grid-template-columns: var(--card-graphic-width) minmax(1fr, 350px) var(--card-graphic-width);
		margin-top: 0;

		// Reset grid row/column properties.
		h2,
		p,
		.benefitsGraphic {
			grid-row: unset;
			grid-column: unset;
		}

		// Set a maximum size for the text.
		h2,
		p {
			max-width: 350px;
			margin: auto;
		}

		// Change font sizes.
		h2 {
			width: 100%;
		}

		p {
			font-size: 0.95em;
		}

		// Add spacing between groups.
		h2,
		.benefitsGraphic {
			margin-top: var(--size-larger-2);
			margin-bottom: 0;
		}

		// Odd rows: Text on the right.
		h2:nth-of-type(2n - 1),
		p:nth-of-type(2n - 1) {
			grid-column: 2 / 4;
			margin-left: 0;
		}

		.benefitsGraphic:nth-of-type(2n - 1) {
			grid-row: span 2;
			grid-column: 1;
			justify-self: end;
		}

		// Even rows: Text on the left.
		h2:nth-of-type(2n),
		p:nth-of-type(2n) {
			grid-column: 1 / 3;
			margin-right: 0;
		}

		.benefitsGraphic:nth-of-type(2n) {
			grid-row: span 3;
			grid-column: 3;
			justify-self: start;
		}
	}
}

.sponsorButton {
	font-weight: bold;
	align-self: center;
	text-align: center;

	padding: var(--size-smaller) var(--size-large);

	@include for-mobile {
		margin: var(--size-larger) auto;
		width: calc(max(200px, 60%));
	}
}

.section.sponsors {
	color: var(--sponsor-logo);
	h2 {
		margin: var(--size-larger) 0 var(--size-small) 0;
		color: var(--accent);
		text-transform: uppercase;
		font-size: 1em;
		font-weight: bold;
		text-align: left;
	}
}
