$layout-mobile-width: 600px;
$layout-tablet-width: 900px;

/**
 * Applies only for the given layout.
 * @param $layout The layout name. ("desktop", "mobile", "print")
 */
@mixin for-layout($layout) {
	@if $layout == "desktop" {
		@media screen and (min-width: $layout-tablet-width) {
			@content;
		}
	} @else if $layout == "tablet" {
		@media screen and (max-width: $layout-tablet-width) {
			@content;
		}
	} @else if $layout == "mobile" {
		@media screen and (max-width: $layout-mobile-width) {
			@content;
		}
	} @else if $layout == "print" {
		@media print {
			@content;
		}
	} @else {
		@error "Unknown layout type: #{layout}";
	}
}

/**
 * Applies only for mobile devices.
 */
@mixin for-mobile {
	@include for-layout("mobile") {
		@content;
	}
}

/**
 * Applies only for tablet devices.
 */
@mixin for-tablet {
	@include for-layout("tablet") {
		@content;
	}
}

/**
 * Applies only for desktop devices.
 */
@mixin for-desktop {
	@include for-layout("desktop") {
		@content;
	}
}

/**
 * Applies only for printing.
 */
@mixin for-print {
	@include for-layout("desktop") {
		@content;
	}
}
