$backup-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif;

/**
 * Font for primary text.
 */
@mixin font-primary() {
	font-family: "Switzer", $backup-fonts;
}

/**
 * Font for the header.
 */
@mixin font-header() {
	font-family: "Switzer", $backup-fonts;
}

/**
 * Font for headings.
 */
@mixin font-heading() {
	font-family: "Roboto Mono", $backup-fonts;
	font-weight: 500;
}
