.header {
	position: relative;
	background: var(--header-background);

	--padding: var(--size-small) var(--size-larger);
	--padding-side: var(--size-small);
	@include for-mobile {
		--padding: var(--size-small);
		--padding-side: var(--size-medium);
	}

	// Disable selecting link text.
	@include select-disabled;

	// Sticky header for desktop.
	@include for-desktop {
		position: sticky;
		top: 0;
	}

	// Scrollable header for mobile.
	@include for-mobile {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;

		// Prevent word wrapping.
		.headerContents a,
		.headerContents button {
			word-wrap: normal;
			word-break: keep-all;
			white-space: nowrap;
		}

		// Sticky items.
		.headerStickyLeft,
		.headerStickyRight {
			position: sticky;
			background: var(--header-background);
			box-shadow: var(--header-background) var(--shadow-offset) 0px 10px;
		}

		.headerStickyLeft {
			left: 0;
			--shadow-offset: 2px;
			&::after {
				left: calc(100% + 5px);
			}
		}

		.headerStickyRight {
			right: 0;
			--shadow-offset: -2px;
			&::after {
				right: calc(100% + 5px);
			}
		}

		// Scroll indicators.
		.headerStickyLeft::after,
		.headerStickyRight::after {
			position: absolute;
			top: calc(50% - 0.5em);
			z-index: -1;
			line-height: 100%;
			width: 1em;

			opacity: 0;
			transition: opacity var(--animation-slow);
			color: var(--header-scrollable-color);
			background: var(--header-background);
			box-shadow: var(--header-background) 0px 0px 15px 15px;
			border-radius: 100%;

			text-align: center;
		}

		.headerStickyLeft::after {
			content: "\2190";
		}

		.headerStickyRight::after {
			content: "\2192";
		}

		&[data-scrollable-left="yes"] .headerStickyLeft::after {
			opacity: 1;
		}

		&[data-scrollable-right="yes"] .headerStickyRight::after {
			opacity: 1;
		}
	}
}

// Alignment.
.headerContents > .spacer {
	flex: 1 1;
}

.headerContents {
	display: flex;
	align-items: stretch;

	> * {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

// Links.
.headerContents a {
	text-align: center;
	text-decoration: none;
}

.logoLink {
	font-size: 3em;
	line-height: 0.33em;
}

a.currentSection {
	color: var(--header-current-section);
}

// Spacing between links.
.headerContents,
.linkContainer {
	gap: var(--header-link-spacing);
}

.headerStickyLeft,
.headerStickyRight {
	padding: var(--padding);
}

.headerStickyLeft {
	padding-right: var(--padding-side);
}

.headerStickyRight {
	padding-left: var(--padding-side);
}

// Make header visible on mobile only when scrolling up.
@include for-mobile {
	.header {
		position: sticky;
		top: -1px; // -1 accounts for half-pixels.

		will-change: transform;
		transform: translateY(calc(-100% + min(var(--scroll-offset-since-touch) * -1, 100%)));
	}

	body[data-scroll-position="top"] .header {
		transform: none !important;
	}

	body[data-scroll-direction="up"] .header {
		animation: show-header var(--animation-slow) 2s linear forwards;
	}
}

@keyframes show-header {
	0% {
		// transform: translateY(calc(-100% + min(var(--scroll-offset-since-touch) * -1, 100%)));
	}

	100% {
		transform: translateY(0px);
	}
}
