// Set the color based on the current theme.
body {
	background-color: var(--page-background-color);
	background: var(--page-background-gradient);
	background-size: 100vw calc(max(3000px, 100vh)); // Ensure the gradient is large enough.
	color: var(--text);

	@include font-primary;
}

// Size Variables
body {
	--width-limited-size: 1000px;

	--size-large: 1rem;
	--size-medium: 0.5rem;
	--size-small: 0.25rem;
}

// Limited width pages.
.width-limited {
	margin-left: auto;
	margin-right: auto;

	width: calc(min(100vw, var(--width-limited-size)));
}
