// Set the color based on the current theme.
body {
	background: var(--header-background);
	color: var(--text);
	font-size: 0.95rem;

	@include font-primary;
}

#root {
	background-color: var(--page-background-color);
	background: var(--page-background-gradient);
	background-size: 100vw calc(max(3000px, 100vh, 100%)); // Ensure the gradient is large enough.
}

body {
	--animation-fast: 0.05s;
	--animation-slow: 0.2s;
	--animation-scroll: 3s;

	@media (prefers-reduced-motion) {
		--animation-fast: 0s;
		--animation-slow: 0s;
		--animation-scroll: 0s;
	}
}

// Size Variables
body {
	--width-limited-size: #{$layout-max-content-width};

	--size-larger-2: 4rem;
	--size-larger: 3rem;
	--size-large: 2rem;
	--size-medium: 1rem;
	--size-small: 0.8rem;
	--size-smaller: 0.5rem;
	--size-smaller-2: 0.2rem;

	@include for-mobile {
		--size-larger-2: 2.5rem;
		--size-larger: 1.4rem;
		--size-large: 1.4rem;
		--size-medium: 0.6rem;
		--size-small: 0.45rem;
		--size-smaller: 0.3rem;
	}

	--button-padding: 0.35em 0.9em;

	--header-padding: var(--size-small);
	--header-section-spacing: 1.4rem;
	--header-button-padding: 0.35em 0.9em;
	--header-link-spacing: 1.8rem;
	--header-icon-spacing: 1.5rem;
	--header-text-size: 1rem;
	--header-icon-size: 1.3rem;

	@include for-tablet {
		--header-padding: var(--size-smaller);
		--header-button-padding: 0.3em 0.8em;
		--header-section-spacing: 0.8rem;
		--header-link-spacing: 0.7rem;
		--header-icon-spacing: 1rem;
	}

	@include for-mobile {
		--header-section-spacing: 0.8rem;
		--header-button-padding: 0.2em 0.6em;
		--header-link-spacing: 0.5rem;
	}
}

// Limited width pages.
.width-limited {
	margin-left: auto;
	margin-right: auto;

	width: 100%;
	max-width: var(--width-limited-size);
}

// Headings.
h1,
h2 {
	@include font-heading;
}
