body {
	--page-background-color: #0f1011;
	--page-background-gradient: linear-gradient(
		180deg,
		#181818 0%,
		#181818 2%,
		#0f1011 5%,
		#1c1a24 32.36%,
		#111015 77.11%,
		#1f1c28 100.55%
	);

	--header-background: #181818;
	--header-border: #fff;
	--header-scrollable-color: #777;
	--header-current-section: #f7dd9f;

	--footer-background: #0f0d17;
	--footer-border: #fff;

	--text: #fff;
	--text-on-logo: #fff;
	--text-on-accent: #1d1d1d;
	--text-inverted: #1d1d1d; // For when the background is var(--text)
	--separator: #2f2e30;

	--accent: #f5b523;
	--accent-alt: #5a60f3;

	--surge-yellow: #f5b523;
	--surge-purple: #5a60f3;

	--logo-color: #5a60f3;
	--logo-subtitle: #f5b523;

	--statsbox-lastyear-text: #fff;
	--statsbox-lastyear-border: var(--accent-alt);
	--statsbox-lastyear-background: #000;

	--statsbox-thisyear-text: #fff;
	--statsbox-thisyear-border: #fff;
	--statsbox-thisyear-background-p1: linear-gradient(
		133.14deg,
		rgba(33, 41, 115, 0.5) 3.72%,
		rgba(64, 10, 65, 0.5) 74.19%
	);

	--statsbox-label-background: #000;
	--statsbox-label-text: var(--accent);
	--statsbox-label-border: #fff;

	// @include for-theme("dark") {
	// 	--primary: #222654;
	// 	--accent: #d0d0d0;
	// }
	// @include for-theme("light") {
	// 	--primary: #fff;
	// 	--accent: #8960ff;
	// }
}
