.component {
	// Do not treat the link as an inline element.
	> a {
		display: block;
	}

	picture,
	img {
		min-width: 0;
		min-height: 0;
		max-width: 100%;
		max-height: 100%;
	}
}

.component,
.component > a,
.svgLogo,
.imageLogo {
	aspect-ratio: var(--sponsor-grid-aspect-ratio);
}
