@use '../../index.scss' as *;

.container {
  @include semiBold(15px, 'Poppins');
  text-align: left;

  cursor: pointer;
  .question {
    background-color: #de2bc4;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text {
    color: white;
    width: 85%;
    margin: 0;
    margin-left: 5%;
  }
  .arrow {
    margin: 0;
    margin-right: 4.5%;
  }
  .answer {
    @include regular(16px, 'Barlow');
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 4%;
    padding-right: 10%;
    border: solid 1px #d02db5;
    background-color: rgba(255, 136, 238, 0.3);
    color: #000000;
    line-height: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    width: 72%;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .question {
    margin: 0;
    height: auto;
  }
}
