@sfusurge:registry=https://npm.pkg.github.com

# Needed to make Netlify pick up the token.
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN_GITHUB}
//npm.pkg.github.com:_authToken=${NODE_AUTH_TOKEN_GITHUB}
