.image-container {
    margin-bottom: 20px;
}

.trackSubtitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.trackTitle {
    font-size: 40px;
    font-weight: 400;
}

.trackDescription {
    font-size: 16px;
    font-weight: 400;
}

.text-container {
    width: 267px;

}