.header {
	@include font-header;
	position: relative;
	background: var(--header-background);

	--padding: var(--header-padding) var(--size-larger);
	--padding-side: var(--header-padding);

	@include for-tablet {
		--padding: var(--header-padding);
		--padding-side: 0;
	}

	// Disable selecting link text.
	@include select-disabled;

	// Sticky header.
	position: sticky;
	top: 0;

	// Scrollable header for mobile.
	@include for-mobile {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;

		// Prevent word wrapping.
		.headerContents a,
		.headerContents button {
			word-wrap: normal;
			word-break: keep-all;
			white-space: nowrap;
		}

		// Sticky items.
		.headerStickyLeft,
		.headerStickyRight {
			position: sticky;
			background: var(--header-background);
			box-shadow: var(--header-background) var(--shadow-offset) 0px 10px;
		}

		.headerStickyLeft {
			left: 0;
			--shadow-offset: 2px;
			&::after {
				left: calc(100% + 5px);
			}
		}

		.headerStickyRight {
			right: 0;
			--shadow-offset: -2px;
			&::after {
				right: calc(100% + 5px);
			}
		}

		// Scroll indicators.
		.headerStickyLeft::after,
		.headerStickyRight::after {
			position: absolute;
			top: calc(50% - 0.5em);
			z-index: -1;
			line-height: 100%;
			width: 1em;

			opacity: 0;
			transition: opacity var(--animation-slow);
			color: var(--header-scrollable-color);
			background: var(--header-background);
			box-shadow: var(--header-background) 0px 0px 15px 15px;
			border-radius: 100%;

			text-align: center;
		}

		.headerStickyLeft::after {
			content: "\2190";
		}

		.headerStickyRight::after {
			content: "\2192";
		}

		&[data-scrollable-left="yes"] .headerStickyLeft::after {
			opacity: 1;
		}

		&[data-scrollable-right="yes"] .headerStickyRight::after {
			opacity: 1;
		}
	}
}

// Header border.
.header {
	border-bottom: var(--header-border) 1px solid;
	z-index: 10;

	@include for-desktop {
	}

	&.atContainerTop {
		border-bottom-color: transparent;
	}

	&.animationDelayDone {
		transition: border-bottom-color var(--animation-slow);
	}
}

// Alignment.
.headerContents > .spacer {
	flex: 1 1;
}

.headerContents {
	display: flex;
	align-items: stretch;

	> * {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

// Spacing between links.
.headerContents {
	gap: var(--header-section-spacing);
}

.linkContainer {
	gap: var(--header-link-spacing);
}

.headerStickyLeft,
.headerStickyRight {
	padding: var(--padding);
}

.headerStickyLeft {
	padding-right: var(--padding-side);
}

.headerStickyRight {
	padding-left: var(--padding-side);
}

// Links.
.headerContents {
	font-size: var(--header-text-size);

	a {
		text-align: center;
		text-decoration: none;
	}

	a.currentSection {
		color: var(--header-current-section) !important;
	}
}

.logoLink {
	font-size: 3em;
	line-height: 0.33em;
}

.iconLink {
	font-size: var(--header-icon-size);
}

.socialLinks {
	gap: 0;
	flex: 1 1 auto;
	justify-content: right;

	.iconLink {
		padding: 0.3em calc(var(--header-icon-spacing) / 4);
		margin: 0 calc(var(--header-icon-spacing) / 4);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	@include for-mobile {
		// We have these on the footer for the mobile site.
		display: none;
	}
}

// Apply button.
.applyButton {
	padding: var(--header-button-padding);
}

.applyButtonDesktop {
	display: none;
	@include for-desktop {
		display: block;
	}
}

.applyButtonMobile {
	@include for-desktop {
		display: none;
	}
}

// Make header visible on landscape mobile only when scrolling up.
@media screen and (max-height: 600px) {
	.header {
		position: sticky;
		top: -1px; // -1 accounts for half-pixels.

		will-change: transform;
	}

	.header:not(.forceVisible) {
		transform: translateY(calc(min(var(--header-hide-offset) * -1, 0px)));
	}
}
