$desktop-badge-width: 100px;

.badgeContainer {
	display: block;
	position: absolute;

	top: unset;
	z-index: 100000;

	--badge-width: #{$desktop-badge-width};

	// When there's not enough space, but not small enough to be tablet layout.
	right: var(--size-larger);

	// When there's space between the header and the right of the page:
	//  -> Align it to the right of the apply button.
	@media screen and (min-width: ($layout-max-content-width + $desktop-badge-width + 45px)) {
		right: var(--size-small) !important;
		top: 0;
	}

	// When there's not enough space, but the page has reached its maximum content width.
	//  -> Align it below the apply button.
	@media screen and (min-width: $layout-max-content-width) {
		right: calc((100vw / 2) - (#{$layout-max-content-width}/ 2) + var(--size-larger));
	}

	@include for-tablet {
		right: var(--size-smaller);
		--badge-width: 70px;
	}

	@include for-mobile() {
		--badge-width: 15vw;
	}
}

.badge {
	width: var(--badge-width);
}
