.component {
	--box-title-padding-h: calc(var(--size-small) / 2);
	--box-title-padding-v: calc(var(--size-small) / 2);
	--box-padding-h: var(--size-small);
	--box-padding-v: var(--size-large);

	.questionText,
	.collapseIcon {
		padding: var(--box-title-padding-v) var(--box-title-padding-h);
	}

	.answer {
		padding: var(--box-padding-v) var(--box-padding-h);
	}
}

.question {
	display: flex;
	flex-direction: row;

	font-weight: 500;
	color: var(--text-bright);
	border-bottom: none;

	.questionText {
		flex: 1 1 auto;
	}
}

.component > .question {
	border-bottom: none;
}

.answer {
	font-size: 0.9em;
}

.collapsible {
	.collapseIcon {
		will-change: transform;
		align-self: center;

		box-sizing: content-box;
		width: 1.2em;
		height: 1.2em;
		justify-self: center;
		transform: rotate(0deg);

		transition: transform var(--animation-slow) ease;
	}

	.answer {
		will-change: transform;
		transform: translateY(0);
		transition: transform var(--animation-slow) ease;
	}

	&.collapsed {
		.collapseIcon {
			transform: rotate(-90deg);
		}

		.answer {
			user-select: none;
			transform: translateY(-100%);
			transition: none;
			font-size: 0;
			padding: 0;
		}
	}
}

// Remove padding and place the border on the box body.
// This is used for the collapsible box.
.component > .answerContainer {
	overflow: hidden;
	border: none;
	padding: 0;

	.answer {
		border-top: var(--box-border) 1px solid;
	}
}
