.component {
	--box-title-padding-h: var(--size-small);
	--box-title-padding-v: var(--size-small);
	--box-padding-h: var(--size-small);
	--box-padding-v: var(--size-large);
}

.question {
	font-weight: 500;
	color: var(--text-bright);
}

.answer {
	font-size: 0.9em;
}
