$black: #2c2c2c;
$gray: #5c5c5c;
$white: #f4f4f4;
$violet: #b07fff;
$darkPurple: #bb3cff;
$purple: #c964ff;
$hotPink: #de2bc4;
$pink: #fd75c9;
$red: #d10b00;
$salmon: #ff4b67;
$orange: #f06500;
$lightOrange: #ffa78c;
$lighterOrange: #ffdbd0;

@mixin media($size) {
  @media screen and (max-width: $size) {
    & {
      @content;
    }
  }
}

@mixin mobile {
  @include media(425px) {
    @content;
  }
}

@mixin table {
  @include media(800px) {
    @content;
  }
}

@mixin font(
  $font-size: 22px,
  $font-weight: 400,
  $font-family,
  $mobile-font-size
) {
  font: $font-weight $font-size $font-family;
  @if $mobile-font-size {
    @include mobile {
      font-size: $mobile-font-size;
    }
  }
}

@mixin regular($font-size, $font-family, $mobile-font-size: false) {
  @include font($font-size, 400, $font-family, $mobile-font-size);
}

@mixin medium($font-size, $font-family, $mobile-font-size: false) {
  @include font($font-size, 500, $font-family, $mobile-font-size);
}

@mixin semiBold($font-size, $font-family, $mobile-font-size: false) {
  @include font($font-size, 600, $font-family, $mobile-font-size);
}

@mixin bold($font-size, $font-family, $mobile-font-size: false) {
  @include font($font-size, 700, $font-family, $mobile-font-size);
}

.span {
  @include medium(16px, Barlow);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: $black;

  &.locked {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
img,
button,
input {
  display: block;
}

button,
input {
  font: inherit;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
