@use '../../index.scss' as *;

.nav {
  position: relative;
  z-index: 999;

  .pages {
    display: flex;

    .text {
      @include bold(24px, Poppins);
      color: $gray;
      display: flex;
      align-items: center;
      width: 100%;

      .logo {
        width: 30px;
        height: 30px;
        fill: $gray;
        padding-right: 10px;
      }
    }

    @include media(500px) {
      flex-direction: column;
    }
  }

  .mobile {
    .button,
    .background,
    .menu {
      position: fixed;
    }

    .menu,
    .background {
      z-index: -1;
    }

    .button {
      z-index: 3;
    }

    .button {
      right: 10px;
      top: 10px;
      width: 36px;
      height: 36px;
      display: grid;
      place-items: center;
      transition: z-index 1s 0.5s;
    }

    .background {
      bottom: 100vh;
      left: 0;
      right: 0;
      top: 0;
      background: #00000060;
      backdrop-filter: blur(3px);
      opacity: 0;
      transition: opacity 0.5s ease-in-out, bottom 0s 0.5s;
    }

    .menu {
      width: 70%;
      top: 0;
      bottom: 0;
      right: -100%;
      transition: right 0.5s ease-in-out, z-index 0s 0.5s;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 50px 18px;
      background: $white;

      .pages {
        width: 100%;
        row-gap: 22px;
        .icon {
          width: 24px;
          height: 24px;
          padding-right: 12px;
        }

        .page {
          @include medium(16px, Poppins);
        }
      }

      .links {
        flex-direction: column;
        gap: 34px;
        align-items: center;
      }

      .socials {
        display: flex;
        position: absolute;
        bottom: 26px;
        column-gap: 18px;

        .icon {
          .img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    &.open {
      .menu,
      .background {
        bottom: 0;
        transition: z-index 1s;
      }

      .background {
        opacity: 1;
        transition: opacity 0.5s ease-in-out, bottom 0s 0s;
      }

      .menu {
        right: 0;
        transition: right 0.5s ease-in-out, z-index 0s 0s;
      }
    }
  }

  .desktop {
    width: 100%;
    height: 150px;
    top: 0;
    background: url('../../assets/backgrounds/footer.svg');
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;

    .pages {
      justify-content: flex-start;
      align-items: center;
      column-gap: 5px;
      padding: 10px 15% 10px 3%;
      width: calc(100% - 124px);

      .text {
        @include bold(38px, Poppins);
        @include media(1100px) {
          font-size: 0;
        }
        line-height: 42px;
        flex: 1;

        .logo {
          width: 50px;
          height: 50px;
        }
      }

      .page {
        @include medium(15px, Poppins);
        width: 100px;
      }
    }

    .icon {
      width: 40px;
    }
  }

  .mlhBanner {
    position: absolute;
    right: 2%;
    top: 0px;
    width: min(137px, 15%);
  }

  .mlhBannerMobile {
    position: absolute;
    left: 5%;
    top: 0px;
    width: 55px;
    z-index: -4;
  }
}
